<% wrap_layout :layout do %>

    <div id="full-bleed" class="di top-1 top-2-ns right-1 right-2-ns absolute">
      <!-- HAMBURGER MENU -->
			<div id="nav-icon3" class="z-999">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
    </div>
    
    <section  class="pt3 pt4-ns" style="background: url('/images/<%= current_page.data.hero %>') top center; background-size: cover; height: 100vh;">

    <header class="mw8 center tc mb3 mb4-ns">
      <% link_to '/', :class => "link dib"  do %>
        <%= image_tag 'logo.png', :class => "full-bleed-logo" %>
      <% end %>
    </header>

    <%= partial 'hamburger-overlay' %>

    <%= yield %>

  </section>
<% end %>
