---
title: "Monthly Zoom Tasting Calendar" 
layout: "standard"
hero: "contact/hero.jpg"

---
<section class="mt0 mb4 mb5-ns mw8 center ph4">
  <div class="center measure tc"> 
  <!-- 
	<div class="mw8 center cf mb4 mb5-l">
		<div class="fl w-100 w-50-l ph4-l">
    -->
      <h2 class="normal mt0 tc tl-l"></h2>
   
      <p class="center mb1">
        Join us the first Friday of every month at 4pm PST.
      </p>
      <p class="i mt2">Zoom tastings limited to 12 households.</p>
      <p class="mt4">
        <%= link_to 'Link to our Zoom Tasting Room', 'https://us02web.zoom.us/meeting/register/tZYqcuGvrDkqHtRonJcbHjIodnHXFD1iR1aP', :class => 'dunn-link link txt-link' %>
      </p>
      
      <div class="mw6 mt5 tc center">
      <!-- <h3 class="normal mb0 tc mt5">Friday, August 7th</h3>
      <p class="lh-copy measure center mt3 mb0">2002 Dunn Howell Mountain Cabernet</p>
      <p class="lh-copy measure center mt0 mb0">2012 Dunn Howell Mountain Cabernet</p>
      <p class="lh-copy measure center mt0">2017 Retro Cellars Howell Mountain Syrah</p>
      <h3 class="normal mb0 tc mt5">Friday, September 4th</h3>
      <p class="lh-copy measure center mt3 mb0">2003 Dunn Howell Mountain Cabernet</p>
      <p class="lh-copy measure center mt0 mb0">2013 Dunn Howell Mountain Cabernet</p>
      <p class="lh-copy measure center mt0">2013 Retro Cellars Howell Mountain Petite Sirah</p>
     --> 
      <!-- <h3 class="normal mb0 tc mt5">Friday, October 2nd</h3>
      <p class="lh-copy measure center mt3 mb0">2003 Dunn Howell Mountain Cabernet</p>
      <p class="lh-copy measure center mt0 mb0">2013 Dunn Howell Mountain Cabernet</p> -->
    <!--  
      <p class="lh-copy measure center mt0">2015 Retro Cellars Howell Mountain Peloursin</p> -->
<!--     
      <h3 class="normal mb0 tc mt5">Friday, November 6th</h3>
      <p class="lh-copy measure center mt3 mb0">2005 Dunn Howell Mountain Cabernet</p>
      <p class="lh-copy measure center mt0 mb0">2015 Dunn Howell Mountain Cabernet</p> -->
      <!--<p class="lh-copy measure center mt0">2017 Retro Cellars Howell Mountain Syrah</p>-->
      <h3 class="normal mb0 tc mt5">Friday, December 4th</h3>
      <p class="lh-copy measure center mt3 mb0">2006 Dunn Howell Mountain Cabernet</p>
      <p class="lh-copy measure center mt0 mb0">2016 Dunn Howell Mountain Cabernet</p>
      <!--<p class="lh-copy measure center mt0">2017 Retro Cellars Howell Mountain Syrah</p>-->
      
      </div>
      </div>
 
  <div class="mt5">
    <%= image_tag "contact/wine-cave.jpg" %>
  </div>
</section>
