---
title: "Contact" 
---
<h1><%= current_page.data.title  %></h1>

<p>Dunn Vineyards does not currently hosts tours and tastings. All wine is sold through allocation and occasionally older vintages become available. Please use the below form to contact us for further information.</p>

<%= mail_to 'info@dunnvineyards.com', "info@dunnvineyards.com" %>

