---
title: "Current Releases" 
---
<p class="lh-copy measure">Dunn Vineyards produces two labels, Howell Mountain and Napa Valley. Both wines are one hundred percent Cabernet Sauvignon. We produce around 2500 cases of Howell Mountain and about 1500 cases of Napa Valley. The Howell Mountain wines consist of one hundred percent Howell Mountain fruit. The Napa Valley wines include up to 15% Napa Valley floor fruit with the remainder of the fruit coming from Howell Mountain. This floor fruit contributes to the wine’s softer approach, even though the wines usually can be laid down for 15+ years.</p>

<p class="lh-copy measure">The bottles differ in two ways. The Napa Valley has a foil seal, whereas the Howell Mountain has been hand dipped in red wax. The Howell Mountain wine label reads both the sub appellation- Howell Mountain as well as the appellation Napa Valley. The Napa Valley label only reads Napa Valley. The Napa Valley Cabernet Sauvignon is usually more approachable at a younger age with its softer tannins. Whereas, the Howell Mountain Cabernet Sauvignon is massive in fruit and tannins.</p>

<p class="lh-copy measure">To learn more or for purchasing options</p>
<%= partial 'contact' %>
<%= image_tag 'wines.jpg', :class => 'w6' %>
