---
title: "How to Remove Wax" 
---
<h1><%= current_page.data.title  %></h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ydvf8yq2NOU" frameborder="0" allowfullscreen></iframe>
