---
title: "Library Wines" 
---
<h1><%= current_page.data.title  %></h1>
<p class="lh-copy measure">From time to time, wines from previous vintages become available. The best way to find out what we have is to contact the winery directly, by completing this form or calling 707-965-3642.</p>

<%= image_tag '89-Dunn-Howell-Cab.jpg', :class => 'w6' %>
