---
title: "The Story"
layout: "standard"
hero: "story/harvest.jpg"
---

<section class="mt0 mb4 mb5-ns mw8 center ph4">
  <div class="measure lh-copy center">
    <h2 class="normal">Getting Started</h2>
    <p>In 1978 Randy and Lori purchased a 14-acre parcel in Angwin with about 5 acres of Cabernet vines on it. At the time, Randy was working full-time as a winemaker in Rutherford. In the evenings and on weekends, Randy, Lori, and a young Mike tended the vines. The same year, Randy agreed to farm and buy the fruit from Harry Frank's adjoining property. That first harvest yielded 9 tons of fruit from these two vineyards. Randy purchased an additional 3 tons from the Beatty Ranch and Dunn Vineyards was underway.</p>
  </div>
</section>

<section class="mw8 center ph4">
	
	<!-- SCRAPBOOK ROW 100 --> 

  <div class="w-100 cf center mb4">
      <div class="aspect-ratio aspect-ratio--8x5">
        <div class="aspect-ratio--object cover" style="background:black url(/images/story/dont-drink-and-drive.jpg) center;"></div>
      </div>
  </div>
  
</section>

<section class="mv4 mv5-ns mw8 center ph4">
  <div class="measure lh-copy center">
    <h2 class="normal mt5-ns mb0">Making it Official</h2>
    <p>Everything picked up speed after that. Randy, Lori, Mike and baby Jennifer moved onto the property that today is the winery. In 1981, the winery was officially bonded. By 1984 the ATF approved Howell Mountain as a sub-AVA of the Napa Valley. Kristina was born and Lori was now running after 2 young daughters and a teenage son. Randy was still working down in the valley so the family business was still relegated to evenings and weekends. But things were going well. By 1985 they moved into the new family house (the "Brown House") and Randy left his job in the valley.</p> 
  </div>
</section>

<section class="mw8 center ph4">

  <!-- SCRAPBOOK ROW 50/50 --> 

  <div class="w-100 cf center mb0 mb4-ns">
    <div class="fl w-100 w-50-ns pr3-ns pb3 pb0-ns">
      <div class="aspect-ratio aspect-ratio--8x5">
        <div class="aspect-ratio--object cover" style="background: url(/images/story/white-house.jpg) center;"></div>
      </div>
    </div>
 		<div class="fl w-100 w-50-ns pr0-ns pl3-ns pb3 pb0-ns">
      <div class="aspect-ratio aspect-ratio--8x5">
        <div class="aspect-ratio--object cover" style="background: url(/images/story/brown-house.jpg) left;"> </div>
      </div>
    </div> 
  </div>

  <!-- SCRAPBOOK ROW 50/50 --> 

  <div class="w-100 cf center mb0 mb4-ns">
    <div class="fl w-100 w-50-ns pr3-ns pb3 pb0-ns">
      <div class="aspect-ratio aspect-ratio--8x5">
        <div class="aspect-ratio--object cover" style="background: url(/images/story/jenny-tractor.jpg) center;"></div>
      </div>
    </div>
 		<div class="fl w-100 w-50-ns pr0-ns pl3-ns pb0">
      <div class="aspect-ratio aspect-ratio--8x5">
        <div class="aspect-ratio--object cover" style="background: url(/images/story/fire-truck-water-fight.jpg) left;"> </div>
      </div>
    </div> 
  </div>


</section>

<section class="mv4 mv5-ns mw8 center ph4">
  <div class="measure lh-copy center">
    <h2 class="normal mb0">Full Speed Ahead</h2>
    <p>By the end of the '80's Dunn Vineyards had become a successful operation. Randy was consulting for other wineries and selling out all of his wine. In 1989 he had run out of room to store barrels and he tunneled into the mountain to make more space. Now they had room for more barrels and a place for Jenny and Kristina to rollerskate.</p> 
  </div>
</section>


<section class="mw8 center ph4">

	<!-- SCRAPBOOK ROW 100 --> 

  <div class="w-100 cf center mb3 mb4-ns">
    <%= image_tag 'story/caves-pano.jpg', :class => "db" %> 
  </div>

  <!-- SCRAPBOOK ROW 50/50 --> 

  <div class="w-100 cf center mb4">
    <div class="fl w-100 w-50-ns pr3-ns pb3 pb0-ns">
      <div class="aspect-ratio aspect-ratio--8x5">
        <div class="aspect-ratio--object cover" style="background: url(/images/story/airplane.jpg) center;"></div>
      </div>
    </div>
 		<div class="fl w-100 w-50-ns pr2 pr0-ns pl3-ns">
      <div class="aspect-ratio aspect-ratio--8x5">
        <div class="aspect-ratio--object cover" style="background: url(/images/story/randy-truck.jpg) left;"> </div>
      </div>
    </div> 
  </div>

</section>

<section class="mv4 mv5-ns mw8 center ph4">
  <div class="measure lh-copy center">
    <h2 class="normal mb0">The Kids Get Back Involved</h2>
    <p>In 1999, Mike came back to help out part-time. It took about three years, but the "cellar grunt" came on full-time. Kristina graduated from Cal Poly with a degree in winemaking and viticulture and came onboard. By 2005, both kids were working full-time for Randy. Dunn Vineyards had always been a family business, but this was a whole new level.</p> 
  </div>
</section>


<section class="mv4 mv5-ns mw8 center ph4">
  <!-- SCRAPBOOK ROW 50/50 --> 

  <div class="w-100 cf center mb4">
    <div class="fl w-100 w-50-ns pr3-ns pb3 pb0-ns">
      <div class="aspect-ratio aspect-ratio--8x5">
        <div class="aspect-ratio--object cover" style="background: url(/images/story/randy-mike.jpg) center;"></div>
      </div>
    </div>
 		<div class="fl w-100 w-50-ns pr2 pr0-ns pl3-ns pb0">
      <div class="aspect-ratio aspect-ratio--8x5">
        <div class="aspect-ratio--object cover" style="background: url(/images/story/kristina.jpg) left;"> </div>
      </div>
    </div> 
  </div>
</section>


<section class="mv4 mv5-ns mw8 center ph4">
  <div class="measure lh-copy center">
    <h2 class="normal mb0">The Third Generation</h2>
    <p>Kristina's girls are a little young yet, but they tour the vineyards eating wild blackberries, testing grape ripeness and visiting uncle Mike. Mike's son Alex has been helping out with bottling for the past several years and 2017 was his first full harvest. So far it looks good for the Dunn clan to continue farming this land.</p> 
  </div>
  
</section>

<section class="mv4 mv5-ns mw8 center ph4">
  <!-- SCRAPBOOK ROW 50/50 --> 

  <div class="w-100 cf center mb4">
    <div class="fl w-100 w-50-ns pr3-ns pb3 pb0-ns">
      <div class="aspect-ratio aspect-ratio--8x5">
        <div class="aspect-ratio--object cover" style="background: url(/images/story/alex-kristina-stompin.jpg) center;"></div>
      </div>
    </div>
 		<div class="fl w-100 w-50-ns pr0-ns pl3-ns pb0">
      <div class="aspect-ratio aspect-ratio--8x5">
        <div class="aspect-ratio--object cover" style="background: url(/images/story/alex.jpg) left;"> </div>
      </div>
    </div> 
  </div>
</section>
      

<section class="mv4 mv5-ns mw8 center ph4">
  <div class="measure lh-copy center">
    <h2 class="normal mb0">Above the Fog</h2>
  <p>There are some distinct benefits to being above 1400 feet in elevation. We tend to see more sunshine each day and the heat tends to be more moderate. But spring starts later for us and, like winter, tends to be cooler here than on the valley floor. Frost is a concern from bud break through flowering. In 2008, four days of 19-degree temperatures devastated half our crop. Our yields average about 2 tons an acre (which is really low) but the cool, wet vintages do not have the same negative effects that come with being on the valley floor.</p>
  </div>
</section>

<section class="mv4 mv5-ns mw8 center ph4">
  <!-- SCRAPBOOK ROW 50/50 --> 

  <div class="w-100 cf center mb4">
    <div class="fl w-100 w-50-ns pr3-ns pb3 pb0-ns">
      <div class="aspect-ratio aspect-ratio--8x5">
        <div class="aspect-ratio--object cover" style="background: url(/images/story/randy-gardening.jpg) center;"></div>
      </div>
    </div>
 		<div class="fl w-100 w-50-ns pr0-ns pl3-ns pb0">
      <div class="aspect-ratio aspect-ratio--8x5">
        <div class="aspect-ratio--object cover" style="background: url(/images/story/mike-shop.jpg) left;"> </div>
      </div>
    </div> 
  </div>
</section>

<section class="mv4 mv5-ns mw8 center ph4">
  <div class="measure lh-copy center">
    <h2 class="normal mb0">Today</h2>
    <p>We farm about 42 acres of Cabernet Sauvignon on the property. This is a manageable size for us to remain in the driver's seat for all farming and winemaking operations.</p>
  </div>
</section>

<section class="mv4 mv5-ns mw8 center">

  <div class="w-100 cf center mb4">
    <%= image_tag 'story/end.jpg' %> 
  </div>
</section>
