---
title: "The Story"
layout: "standard"
---

<section class="ma5">
  <div class="">
<div class="final-tiles-gallery caption-bottom caption-fixed caption-color-dark">
  <div class="ftg-items">

<% data.family.each do |f| %>
<div class="tile">
  <a class="tile-inner" href="/images/<%= f.photo %>">
    <img class="item" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/images/<%= f.photo %>" />
    <div class="caption-block">
      <div class="text-wrapper">
        <!-- <h4 class='title'>Title here</h4> -->
      <h5 class='subtitle f5'><%= f.caption %></h4>
    </div>
   </div>
  </a>
</div>
<% end %>

</div>

  </div>
</div>

</section>
