---
title: "History"
---

<section class="mv5 mw8 center">
  <% data.stories.each do |f| %>
    <h3 class="mt4"><%= f.year %></h3> 
    <p class="lh-copy measure center"><%= f.story %></p>
  <% end %>
</section>

